<h1>Alert ! There are toxic gases in the car</h1>

<img
  *ngIf="+toxicGasSensorLastValue > 0"
  src="/assets/images/toxic-gas-in-car.jpg"
/>

<button
  class="graph-button"
  mat-stroked-button
  color="primary"
  (click)="openGraphDialog(template)"
>
  Open graph view
</button>
<ng-template #template>
  <div style="padding: 15px">
    <iframe
      width="450"
      height="260"
      style="border: 1px solid #cccccc"
      src="https://thingspeak.com/channels/2354728/charts/6?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"
    ></iframe>
  </div>
</ng-template>
