<div class="container">
  <h1>Wipers movement</h1>

  <img src="/assets/images/wipers.jpg" />

  <h1 style="color: rgb(0, 0, 0)" *ngIf="+rainSensorLastValue > 4000">OFF</h1>

  <h1
    style="color: blue"
    *ngIf="+rainSensorLastValue <= 4000 && +rainSensorLastValue >= 3000"
  >
    LOW
  </h1>

  <h1
    style="color: blueviolet"
    *ngIf="+rainSensorLastValue <= 3000 && +rainSensorLastValue >= 2000"
  >
    MODERATE
  </h1>

  <h1
    style="color: chocolate"
    *ngIf="+rainSensorLastValue <= 2000 && +rainSensorLastValue >= 1000"
  >
    HIGH
  </h1>

  <h1 style="color: red" *ngIf="+rainSensorLastValue <= 1000">VERY HIGH</h1>
</div>

<button
  class="graph-button"
  mat-stroked-button
  color="primary"
  (click)="openGraphDialog(template)"
>
  Open graph view
</button>
<ng-template #template>
  <div style="padding: 15px">
    <iframe
      width="450"
      height="260"
      style="border: 1px solid #cccccc"
      src="https://thingspeak.com/channels/2354728/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"
    ></iframe>
  </div>
</ng-template>
