<h1 class="italic-red">Rain Sensor</h1>

<h1 class="bold-blue">{{ levelSenzorLastValue }}</h1>

<h1 style="color:rgb(0, 0, 0)" *ngIf="+levelSenzorLastValue > 4000">OFF</h1>

<h1 style="color:blue" *ngIf="+levelSenzorLastValue <= 4000 && +levelSenzorLastValue >= 3000">LOW</h1>

<h1 style="color:blueviolet" *ngIf="+levelSenzorLastValue <= 3000 && +levelSenzorLastValue >= 2000">MODERATE</h1>

<h1 style="color:chocolate" *ngIf="+levelSenzorLastValue <= 2000 && +levelSenzorLastValue >= 1000">HIGH</h1>

<h1 style="color:red" *ngIf="+levelSenzorLastValue <= 1000">VERY HIGH</h1>