img {
    margin-top: 50px;
    height: 250px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
h1 {
    margin-bottom: 10px;
}

.graph-button {
    margin-top: 40px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
    border-radius: 4px; /* Men»õine marginile butonului rotunjite */
}