<div class="container">
  <h1>Car Temperature [°C] :</h1>
  <h1>{{ tempSensorLastValue }}</h1>

  <img *ngIf="+tempSensorLastValue < 10" src="/assets/images/temperature-3.jpg" />

  <img style="width: 260px; height: 280px; margin-bottom:25px" *ngIf="+tempSensorLastValue >= 10 && +tempSensorLastValue <= 20" src="/assets/images/temperature-2.jpg" />

  <img style="margin-right:40px !important" *ngIf="+tempSensorLastValue > 20" src="/assets/images/temperature-1.jpg" />
</div>

<button class="graph-button" mat-stroked-button color="primary" (click)="openGraphDialog(template)">
  Open graph view
</button>
<ng-template #template>
  <div style="padding: 15px">
    <iframe width="450" height="260" style="border: 1px solid #cccccc"
      src="https://thingspeak.com/channels/2354728/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
  </div>
  <button mat-button class="close-icon" [mat-dialog-close]="true" style="margin-left: 200px">
    <mat-icon>close</mat-icon><span>Close</span>
  </button>
</ng-template>